---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A blog"
	pubDate={new Date('April 05 2026')}
	heroImage={AboutHeroImage}
>
	<p>Rolen Le's blog. </p>
</Layout>
